button,
.button {
	@include gradient($lighter-green, $green, $dark-green);

	border-color: $dark-green;
	border-radius: $border-radius;
	border-style: solid;
	border-width: $border-width;
	cursor: pointer;
	font-weight: bold;
	margin: 4px;
	padding: $padding;
	text-shadow: 0 1px 0 $lighter-green;
	text-transform: uppercase;
	white-space: nowrap;

	&:hover {
		@include gradient($lighter-green, $light-green, $dark-green);
	}

	&:active,
	&:focus {
		@include gradient($darker-green, $dark-green, $green);

		border-color: $darker-green;
		text-shadow: 0 -1px 0 $green;
	}

	&.button--secondary {
		@include gradient($lighter-purple, $purple, $dark-purple);

		border-color: $dark-purple;
		color: $white;
		text-shadow: 0 1px 0 $lighter-purple;

		&:hover {
			@include gradient($lighter-purple, $light-purple, $dark-purple);
		}

		&:active,
		&:focus {
			@include gradient($darker-purple, $dark-purple, $purple);

			border-color: $darker-purple;
			text-shadow: 0 -1px 0 $purple;
		}
	}

	&.button--danger {
		@include gradient($lighter-red, $red, $dark-red);

		border-color: $dark-red;
		color: $white;
		text-shadow: 0 1px 0 $lighter-red;

		&:hover {
			@include gradient($lighter-red, $light-red, $dark-red);
		}

		&:active,
		&:focus {
			@include gradient($darker-red, $dark-red, $red);

			border-color: $darker-red;
			text-shadow: 0 -1px 0 $red;
		}
	}
}

.active {
	@include gradient($darkest-green, $darker-green, $dark-green);

	border-color: $darkest-green;
	color: $white;
	text-shadow: 0 1px 0 $dark-green;
}
