button,
.button,
.formosa-radio__label {
	@include gradient($lighter-green, $green, $dark-green);

	border-color: $dark-green;
	border-radius: $border-radius;
	border-style: solid;
	border-width: $border-width;
	cursor: pointer;
	font-weight: bold;
	line-height: 1;
	margin: 4px;
	padding: $padding;
	text-shadow: 0 1px 0 $lighter-green;
	text-transform: uppercase;
	white-space: nowrap;

	&:hover {
		@include gradient($lighter-green, $light-green, $dark-green);
	}

	&:active,
	&:focus {
		@include gradient($dark-green, scale-color($green, $lightness: -10%), $green);

		border-color: $darker-green;
		text-shadow: 0 -1px 0 $light-green;
	}

	&.formosa-button--toggle-password {
		@include gradient($lightest-purple, $light-purple, $dark-purple);

		border-color: $purple;
		color: $white;
		text-shadow: 0 1px 0 $darkest-purple;

		&:hover {
			@include gradient($lightest-purple, $lighter-purple, $dark-purple);
		}

		&:active,
		&:focus {
			@include gradient($purple, scale-color($light-purple, $lightness: -5%), $lighter-purple);

			border-color: $dark-purple;
			text-shadow: 0 -1px 0 $darkest-purple;
		}
	}

	&.button--danger,
	&.formosa-button--danger {
		@include gradient($lighter-red, $red, $dark-red);

		border-color: $dark-red;
		color: $white;
		text-shadow: 0 1px 0 $darker-red;

		&:hover {
			@include gradient($lighter-red, $light-red, $dark-red);
		}

		&:active,
		&:focus {
			@include gradient(scale-color($red, $lightness: -15%), $red, scale-color($light-red, $lightness: 3%));

			border-color: $darker-red;
			text-shadow: 0 -1px 0 $darker-red;
		}
	}

	&[disabled] {
		@include gradient(#999, #666, #333);

		border-color: #666;
		color: $white;
		pointer-events: none;
		text-shadow: 0 1px 0 #000;
	}
}

.formosa-radio__label--checked {
	@include gradient($darkest-green, $darker-green, $darker-green);

	color: $white;
	text-shadow: 0 -1px 0 $darkest-green;

	&.formosa-radio__label {
		color: $white;
	}

	&:hover {
		@include gradient($darkest-green, $darker-green, $darker-green);
	}

	&:active,
	&:focus {
		@include gradient($darkest-green, $darker-green, $darker-green);

		border-color: $dark-green;
		text-shadow: 0 -1px 0 $dark-green;
	}
}
