@use '../utilities/variables';

#list {
	form {
		padding: variables.$list-padding-top variables.$list-padding-side;
	}

	.field {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.formosa-field {
		margin: 0;
		padding: 0;
	}

	.formosa-label-wrapper {
		flex: 1 1 auto;
	}

	.formosa-input-wrapper {
		display: flex;
	}

	.button {
		margin: 0;
	}

	.formosa-prefix {
		max-width: 120px;
	}

	.formosa-radio {
		width: 100%;
	}

	.formosa-radio__item {
		flex: 1 1 auto;
	}

	.formosa-radio__label {
		text-align: center;
		width: 100%;
	}

	.formosa-field--option {
		flex: 1 1 auto;
	}
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list__item {
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
}

.list__item--active {
	background: rgba(variables.$darkest-green, .5);
}

.list__link {
	color: variables.$white;
	display: block;
	padding: variables.$list-padding-top variables.$list-padding-side;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		background: variables.$darker-purple;
	}
}

.list > li + li {
	border-top-color: variables.$purple;
}
