@use '~@jlbelanger/formosa/src/scss/utilities/variables' as formosa;

.formosa-input-wrapper--radio {
	.formosa-radio {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.formosa-radio__label {
		color: formosa.$formosa-button-color;
		display: inline-block;
		line-height: 1;
		padding: formosa.$formosa-button-padding;
		position: relative;

		input {
			border-color: formosa.$formosa-button-border-color;
			border-style: solid;
			border-width: formosa.$formosa-input-border-width 0 formosa.$formosa-input-border-width 1px;
		}
	}

	.formosa-radio__input {
		appearance: none;
		background: transparent;
		border-color: transparent;
		box-shadow: none;
		cursor: pointer;
		inset: 0;
		position: absolute;

		&:focus {
			position: absolute;
		}
	}

	input.formosa-radio__input {
		box-shadow: none;
		height: calc(formosa.$formosa-radio-size + (formosa.$formosa-input-border-width * 2));
		top: calc(formosa.$formosa-input-border-width * -1);

		&.formosa-field__input {
			width: 100%;
		}

		&:checked {
			background: transparent;
		}

		&:focus {
			border-radius: 0;
			z-index: 1;
		}
	}

	.formosa-radio__item .formosa-radio__label {
		input {
			border-radius: 0;
		}
	}

	.formosa-radio__item:first-of-type .formosa-radio__label {
		border-radius: formosa.$formosa-input-border-radius 0 0 formosa.$formosa-input-border-radius;
		border-right-width: 0;
		margin: 0;

		input {
			border-radius: formosa.$formosa-input-border-radius 0 0 formosa.$formosa-input-border-radius;
		}

		input:focus {
			border-radius: formosa.$formosa-input-border-radius 0 0 formosa.$formosa-input-border-radius;
		}
	}

	.formosa-radio__item:last-of-type .formosa-radio__label {
		border-left-width: 1px;
		border-radius: 0 formosa.$formosa-input-border-radius formosa.$formosa-input-border-radius 0;
		margin: 0;

		input {
			border-radius: 0 formosa.$formosa-input-border-radius formosa.$formosa-input-border-radius 0;
		}

		input:focus {
			border-radius: 0 formosa.$formosa-input-border-radius formosa.$formosa-input-border-radius 0;
		}
	}

	.formosa-radio__item:first-of-type:last-of-type .formosa-radio__label {
		border-left-width: 1px;
		border-radius: formosa.$formosa-input-border-radius;
		border-right-width: 1px;

		input:focus {
			border-radius: formosa.$formosa-input-border-radius;
		}
	}
}
