table {
	border-spacing: 0;
	width: 100%;
}

th {
	background: $darker-purple;
	color: $white;
	font-size: $font-size;
	letter-spacing: 2px;
	padding: $list-padding-top $list-padding-side;
	text-align: left;
	text-shadow: 0 2px 0 $black;
	text-transform: uppercase;
}

td {
	line-height: 1;
}

.table__row + .table__row td {
	border-top: 1px solid $purple;
}

.table__link {
	color: $white;
	display: flex;
	padding: $list-padding-top $list-padding-side;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		background: $darkest-purple;
	}
}

.table__label {
	flex: 1 1 auto;
}
