$dark-green: #096;
$darker-green: scale-color($dark-green, $lightness: -30%);
$darkest-green: scale-color($darker-green, $lightness: -30%);
$green: #3c9;
$light-green: #4da;
$lighter-green: #6fc;
$lightest-green: #8fe;

$darkest-purple: #101;
$purple: #4b318c;
$darker-purple: scale-color($purple, $lightness: -50%);
$dark-purple: scale-color($purple, $lightness: -35%);
$light-purple: scale-color($purple, $lightness: 5%);
$lighter-purple: scale-color($purple, $lightness: 20%);
$lightest-purple: scale-color($purple, $lightness: 50%);

$red: #cc411f;
$darker-red: scale-color($red, $lightness: -50%);
$dark-red: scale-color($red, $lightness: -35%);
$light-red: scale-color($red, $lightness: 5%);
$lighter-red: scale-color($red, $lightness: 20%);
$lightest-red: scale-color($red, $lightness: 50%);

$bright-purple: #b656b6;

$white: #fff;
$black: #000;

$border-radius: 10px;
$border-width: 2px;
$font-size: 16px;
$max-width: 600px;
$nav-height: 50px;
$padding: 8px;

$checkbox-size: 32px;

$list-padding-top: 14px;
$list-padding-side: 18px;
