#header {
	border-bottom-color: $purple;
	display: flex;
	justify-content: center;
	top: 0;
}

h1 {
	align-items: center;
	color: $white;
	display: flex;
	font-size: 30px;
	letter-spacing: -3px;
	margin: 0;
	text-shadow: 0 2px 0 $black;
}
