* {
	box-sizing: border-box;
}

body {
	background: $black;
	color: $white;
	font-family: $formosa-input-font-family;
	font-size: $font-size;
	margin: 0;
}

#main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#header,
#footer {
	background: $darker-purple;
	height: $nav-height;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 9997;
}

#article {
	flex: 1 1 auto;
	margin: 0 auto $nav-height;
	padding-bottom: 20px;

	&> form:first-child > :first-child {
		margin-top: 16px;
	}
}

.contain {
	max-width: $max-width;
	width: 100%;
}
