.field {
	padding: 0 $list-padding-side;
}

.field--new-event {
	display: flex;
}

.field--number {
	max-width: 140px;
}

.field--submit {
	text-align: right;
}

.field__label {
	display: inline-block;
	margin: 0 0 12px;
}

.field__label--required {
	&::after {
		content: " *";
	}
}

.field__label--checkbox {
	margin-bottom: 0;
	margin-left: 8px;
}

.field__input-wrapper {
	display: flex;
	position: relative;
}

.field__input-wrapper--checkbox {
	align-items: center;
}

.field__check {
	bottom: 0;
	height: $checkbox-size;
	left: 0;
	padding: 6px;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: $checkbox-size;

	path {
		fill: transparent;
	}

	:checked + & path {
		fill: $black;
	}
}

.field--has-error {
	.field__label {
		color: $lighter-red;
	}

	.field__input {
		border-color: $red;
		box-shadow: 0 0 0 3px $lighter-red;
	}
}

.field__error {
	color: $lighter-red;
	margin-top: 8px;
}
