.formosa-field {
	padding: 0 $list-padding-side;
}

.formosa-field--new-event {
	display: flex;
}

.formosa-field--number {
	.formosa-input-wrapper {
		max-width: 100px;
	}
}

.formosa-label-wrapper {
	display: inline-block;
	margin: 0 0 6px;
}

.formosa-field--submit {
	display: flex;
	justify-content: flex-end;
}

.formosa-input-wrapper--submit {
	flex: 1 1 auto;
	text-align: right;
}

.formosa-field--label-after {
	.formosa-label-wrapper--checkbox {
		margin: 0;
	}

	.formosa-input-wrapper--checkbox {
		align-items: center;
		display: flex;

		.formosa-label {
			margin-left: 6px;
		}
	}
}

.formosa-icon--check {
	bottom: 0;
	height: $checkbox-size;
	left: 0;
	padding: 6px;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: $checkbox-size;

	path {
		fill: transparent;
	}

	:checked + & path {
		fill: $black;
	}
}

.formosa-field--has-error {
	.formosa-label {
		color: $lighter-red;
	}

	.formosa-field__input {
		border-color: $red;
		box-shadow: 0 0 0 3px $lighter-red;
	}
}

.formosa-field__error {
	color: $lighter-red;
	margin-top: 8px;
}

.formosa-field--has-postfix {
	flex-direction: column;
}

.formosa-postfix-container {
	display: flex;
}

input.formosa-field__input--password {
	width: calc(100% - #{$formosa-password-button-width});
}
