.field {
	padding: 0 $list-padding-side;
}

.field__label {
	display: inline-block;
	margin: 0 0 12px;
}

.field__label--required {
	&::after {
		content: " *";
	}
}

.field__input-wrapper {
	display: flex;
	position: relative;
}

.field__input-wrapper--checkbox {
	position: relative;
}

.field__check {
	bottom: 0;
	height: $checkbox-size;
	left: 0;
	padding: 6px;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: $checkbox-size;

	path {
		fill: transparent;
	}

	:checked + & path {
		fill: $black;
	}
}
