.formosa-has-many {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.formosa-has-many__item + .formosa-has-many__item {
	margin-top: 8px;
}

.formosa-has-many__item--new {
	display: flex;
}

.formosa-has-many__wrapper {
	display: flex;
}
