.formosa-message {
	margin-left: $list-padding-side;
	margin-right: $list-padding-side;
	padding: $list-padding-side;
}

.formosa-message--error {
	background: $red;
}

.formosa-message--success {
	background: $green;
	color: $black;
}
