.formosa-radio {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.formosa-radio__label {
	color: $black;
	display: inline-block;
	position: relative;
}

.formosa-radio__input {
	appearance: none;
	background: transparent;
	border-color: transparent;
	bottom: 0;
	box-shadow: none;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	&:focus {
		position: absolute;
	}
}
