@import './node_modules/normalize.css/normalize';
@import 'utilities/variables';
@import './node_modules/@jlbelanger/formosa/src/style';
@import 'utilities/mixins';
@import 'layout/layout';
@import 'layout/etc';
@import 'layout/header';
@import 'layout/footer';
@import 'components/button';
@import 'components/heading';
@import 'components/input';
@import 'components/p';
@import 'components/small';
@import 'components/table';
@import 'components/toast';
@import 'classes/list';
@import 'classes/radio';
@import 'classes/suffix';

p,
.formosa-field {
	margin: 24px 0 0;
}

#chart-container {
	height: 250px;
	margin: 24px 8px 0;
	max-height: calc(100vh - #{($nav-height * 5)});
}

.formosa-field {
	padding-left: $list-padding-side;
	padding-right: $list-padding-side;
}

.formosa-label-wrapper:empty {
	display: none;
}

.formosa-input-wrapper--checkbox {
	position: relative;
}

.formosa-label__note {
	display: inline-block;
	font-size: 80%;
	margin-left: 4px;
	opacity: .5;

	&::before {
		content: ' (';
	}

	&::after {
		content: ')';
	}
}

.formosa-input-wrapper--submit {
	text-align: right;
}

.formosa-button--submit {
	max-width: 180px;
	width: 100%;
}
